html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  background: darkslateblue;
  color: antiquewhite;
  padding: 12px;
  max-width: 700px;
  margin: auto;
  text-align: center;
}

input[type=radio] {
  /* display: initial; */
  display: none;
}

#cur-page-landing:checked~.page-landing,
#cur-page-think-number:checked~.page-think-number,
#cur-page-times-5:checked~.page-times-5,
#cur-page-times-2:checked~.page-times-2,
#cur-page-minus-original:checked~.page-minus-original,
#cur-page-ready:checked~.page-ready,
#cur-page-reveal:checked~.page-reveal,
#cur-page-memorise:checked~.page-memorise{
  display: flex;
}

.page {
  height: 100%;
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
}

.emoji-container {
  /* padding: 16px; */
  display: flex;
  flex-direction: column;
}
.instructions {
  margin-bottom: 8px;
  padding-inline: 12px;
  font-size: 1.5rem;
}
.row {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 12px; */
}
.emoji-reveal {
  font-size: 5em;
}
label {
  color: aqua;
  font-weight: 600;
}